@import "../variables.scss";

.productContainer
{
    margin: 40px 0;
    background-color: white;
    padding: 32px;
    .productImage
    {
        width: 100%;
        height: auto;
        @media screen and (max-width: $tablet-width) {
            margin: auto
        } 
    }
    .productInfoContainer
    {
        color: $letterColor;
        padding: 0 10px;
        @media screen and (max-width: $tablet-width) {
            text-align: center;
            padding: 0;
        }
        p{
            font-size: 14px;
            margin: 0 0 16px;
        }
        h2{
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            max-width: 200px;
            @media screen and (max-width: $tablet-width) {
                max-width: 100%;
            }
        }
        h1{
            font-size: 46px;
            margin: 36px 0
        }
        button{
            color: $white;
            background-color: #3483FA;
            border-radius: 4px;
            width: 100%;
            border: none;
            padding: 16px;
        }
    }
    .productDescription{
        padding: 32px 0;
        
        h2{
            font-size: 28px;
            margin: 0 0 32px;
            color: $letterColor
        }
        p{
            font-size: 16px;
            margin: 0;
            color: $darkGray
        }
        @media screen and (max-width: $tablet-width) {
            text-align: center;
            padding: 32px 0 15px;
            h2{
                font-size: 25px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}