@import "../variables.scss";

.customContainer {
  background-color: $white;
  .productResults {
    .productContainer {
      padding: 16px;
      color: $letterColor;
      .productPicture {
        max-height: 180px;
        max-width: 180px;
        border-radius: 4px;
        @media screen and (max-width: $tablet-width) {
          max-height: 160px;
          max-width: 160px;
        }
        @media screen and (max-width: $mobile-width) {
          max-height: 140px;
          max-width: 140px;
        }
      }
      h1 {
        font-size: 24px;
        color: $letterColor;
        margin: 0 0 36px;
        font-weight: 400;
        @media screen and (max-width: $tablet-width) {
          margin: 0 0 15px;
        }

        img {
          vertical-align: baseline;
        }
      }
      h2 {
        color: $letterColor;
        font-size: 18px;
      }
      span {
        color: $darkGray;
        margin-left: auto;
        margin-top: 2rem;
        font-size: 12px;
        @media screen and (max-width: $tablet-width) {
          margin: 0;
        }
      }
    }
    .productInfo {
      padding: 20px;
      text-align: left;
      @media screen and (max-width: $tablet-width) {
        padding: 20px 0;
      }
      h1 {
        font-weight: 300;
        font-size: $font-size;
      }
      a {
        font-weight: 300;
        color: $letterColor;
        outline: none;
        @media screen and (max-width: $tablet-width) {
          font-size: 14px;
        }
      }
    }
    .productContainer:not(:last-child) {
      border-bottom: 1.5px solid $gray;
    }
  }
}

.categoriesResults {
  display: flex;
  margin: 16px 0;
  p {
    color: $darkGray;
    margin: 0 10px 0 0;
    font-size: 14px;
    font-weight: 100;
  }
  p:not(:last-child)::after {
    content: ">";
    margin-left: 10px;
  }
  p:last-child {
    font-weight: bold;
  }
}
