@import "app/variables.scss";

.Body {
    font-family: $mainFont;
    text-align: center;
    background-color: gray !important;
    padding-bottom: 100px;
    h1,
    h2 {
      font-size: 20px;
    }
  }